:root {
    --clr-green: #74c69d;
    --clr-white: #ffffff;
    --clr-white-75: rgba(255, 255, 255, 0.75);
    --clr-black: #000000;
    --clr-dark: #212529;
    --clr-dark-50: rgba(33, 37, 41, 0.5);
    --clr-dark-75: rgba(33, 37, 41, 0.75);
    --clr-gray: #d9d9d9;
}
